You are invited to join a zoom meeting on <%=params[:date].to_datetime.strftime("%d-%m-%Y")%> <%=params[:time]%><br>
 
click on the link:-  
<a href = "<%=params[:meeting] %>"> <%= params[:meeting] %></a>

